  <div class="field text-field">
<%= form.label :email, class: "label" %>
  <div class="control">
    <%= form.text_field :email, type: "email", class: "input" %>
  </div>
</div>

<div class="field password-field">
  <%= form.label :password, class: "label" %>
  <div class="control">
    <%= form.password_field :password, type: "password", class: "input" %>
  </div>
</div>

<div class="field submit-field">
  <div class="control">
    <%= form.submit class: "button is-primary" %>
  </div>
</div>

