<%= render partial: 'application/breadcrumb', locals: {model: @contest} %>
<h1 class="title"><%= @contest.name %></h1>
<h1 class="title is-4"><%= Problem.model_name.human count: :many %></h1>
<%= render partial: 'application/score_banner', locals: {model: @contest} %>
<% if @contest.problems.length > 0 %>
<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><%= t 'problems.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% for problem in @contest.problems %>
      <tr>
        <%= render partial: 'problems/problem', locals: {problem: problem} %>
      </tr>
    <% end %>
  </tbody>
</table>

<section class="section">
  <%= render partial: 'submissions/form' %>
</section>
<% else %>
  <p>There are currently no problems available.</p.
<% end %>

