<%= form_for [:admin, @contest] do |f| %>
  <%= render partial: 'application/form_errors', locals: {error: :contest_error} %>
  <div class="field">
    <%= f.label :name, class: "label" %>
    <div class="control">
      <%= f.text_field :name, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :start_datetime, class: "label" %>
    <div class="control">
      <%= f.date_field :start_date, min: Date.today %>
      <%= f.time_field :start_time %>
    </div>
  </div>
  <div class="field">
    <%= f.label :end_datetime, class: "label" %>
    <div class="control">
      <%= f.date_field :end_date, min: Date.today %>
      <%= f.time_field :end_time %>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <%= f.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
