<h1><%= @contest.name %></h1>

<h2>Problems</h2>
<table>
  <tr>
    <th>Problem Name</th>
  </tr>
  <% for problem in @contest.problems %>
    <tr>
      <%= render partial: 'problems/problem', locals: {problem: problem} %>
      <td><%= button_to "Edit", edit_admin_contest_problem_path(problem), method: :get %></td>
      <td><%= button_to "Delete", admin_contest_problem_path(problem), method: :delete %></td>
    </tr>
  <% end %>
</table>

<h2>Edit Name</h2>
<%= render partial: 'admin/contests/form' %> 

<h2>Add Problem</h2>
<%= form_for [:admin, @contest, @problem] do |f| %>
  <ul>
    <% @contest.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
