<h1 class="title">Contests</h1>
<% if @contests.length > 0 %>
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <tr>
        <%= render partial: 'contests/table_headings' %>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @contests.each do |contest| %>
        <tr>
          <%= render partial: 'contests/contest', locals: {contest: contest} %>
          <td>
            <%= button_to "Edit", edit_admin_contest_path(contest), method: :get, class: "button"%>
          </td>
          <td>
            <%= button_to "Delete", admin_contest_path(contest), method: :delete, class: "button is-danger"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h2 class="title is-4">Create Contest</h2>
<%= render partial: 'admin/contests/form', :locals => {contest: @contest} %>

