<h1 class="title"><%= @problem.name %></h1>
<div class="notification is-info">
  <b>Score: <%= @problem.get_problem_score(current_user).last %></b>
</div>
<p>
  <%= simple_format @problem.description %>
</p>
<br>
<% if policy_scope(@problem.submissions).length > 0 %>
  <h1 class="title is-4">Submissions</h1>
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th>Submission</th>
        <th>Message</th>
        <th>Score</th>
      </tr>
    </thead>
    <%= render partial: 'submissions/submission', collection: policy_scope(@problem.submissions) %>
  </table>
<% end %>

<section class="section">
  <%= render partial: 'submissions/form' %>
</section>

