<h1 class="title"><%= @problem.name %></h1>
<div class="container">
  <h2 class="title is-4"><%= Submission.model_name.human count: :many %></h2>
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <th><%= User.model_name.human %></th>
      <th><%= Submission.model_name.human %></th>
      <th><%= t 'judge.score' %></th>
    </thead>
    <tbody>
      <% for score in @problem.get_sorted_scores %>
        <% user, submission, score_message = score %>
        <tr>
          <td>
            <%= user.full_name %>
          </td>
          <td>
            <%= link_to submission.get_name, submission %>
          </td>
          <td>
            <%= score_message %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2 class="title is-4"><%= t 'problems.test_data' %></h2>
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <th><%= t 'problems.test_case' %></th>
      <th><%= t 'problems.output_file' %></th>
    </thead>
    <tbody>
      <% for problem_input in @problem.get_data.keys %>
        <tr>
          <td>
            <%= File.basename(problem_input) %>
          </td>
          <td>
            <%= File.basename(@problem.get_data[problem_input]) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<section class="section">
  <div class="box">
    <%= render partial: 'admin/problems/form' %>
  </div>
</section>
