<% if policy(@contest).submit? %>
  <div class="box">
    <h2 class="title is-4"><%= t 'submissions.form.create' %></h2>
    <% if @contest.problems.empty? %>
      <p><%= t 'submissions.form.no_problems' %></p>
    <% else %>
      <%= form_for @submission do |f| %>
        <%= render partial: 'application/form_errors', locals: {error: :submission_error} %>
        <% if @problem.nil? %>
          <div class="field">
            <%= f.label :problem_id, class: "label" %>
            <div class="control">
              <div class="select">
                <%= f.collection_select :problem_id, @contest.problems, :id, :name, include_blank: false %>
              </div>
            </div>
          </div>
        <% else %>
          <%= f.hidden_field :problem_id, value: @problem.id %>
        <% end %>
        <div class="field">
          <%= f.label :code_file, "#{t 'submissions.form.upload_prompt'} (*.java *.py *.c)", class: "label has-text-weight-normal" %>
          <div class="control">
            <%= f.file_field :code_file %>
          </div>
        </div>
        <div class="field">
          <article class="message is-warning">
            <div class="message-body">
              <%= t 'submissions.form.warning_message' %>
            </div>
          </article>
          <div class="control">
            <%= f.submit class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

