<div class="columns is-centered">
  <div class="column is-half">
    <div id="clearance" class="password-reset box">
      <h1 class="title"><%= t(".title") %></h1>

      <p><%= t(".description") %></p>
      <br>

      <%= form_for :password_reset,
            url: user_password_path(@user, token: @user.confirmation_token),
            html: { method: :put } do |form| %>
        <div class="field password-field">
          <%= form.label :password, class: "label" %>
          <div class="control">
            <%= form.password_field :password, class: "input" %>
          </div>
        </div>

        <div class="field submit-field">
          <div class="control">
            <%= form.submit class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
